/* line 1, ../sass/app.scss */
body {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
    font-family: Montserrat, 'Roboto', Helvetica, sans-serif;
}

/* line 10, ../sass/app.scss */
section.panel-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    overflow-y: auto;
    background-color: #E8E8E8;
    height: auto;
    display: flex;
    flex-direction: column;

    div.panel-header {
        width: 100%;
        height: 70px;
        margin: 0;
        display: flex;

        img {
            display: inline-block;
            margin: 0;
            width: 100%;
            padding: 0 auto;
        }
    }

    div.panel-body {
        text-align: center;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 15px;

        nav.menu {
            flex-direction: column;
            width: 100%;
            height: auto;

            a {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 112px;

                img {
                    display: inline-block;
                    height: 40px;
                    margin: auto;
                }

                span {
                    display: inline-block;
                    margin: auto;
                    margin-top: -5px;
                    color: #000000;
                }

                &:hover {
                    text-decoration: none;
                    background-color: #bdc3c7;
                }

                &.active {
                    text-decoration: none;
                    background-color: #bdc3c7;
                }
            }
        }
    }
}

/* line 147, ../sass/app.scss */
section.panel-container div.panel-footer {
    width: 100%;
    height: auto;
    margin: 0;
}

/* line 152, ../sass/app.scss */
section.panel-container div.panel-footer nav {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 15px auto;
}

/* line 160, ../sass/app.scss */
section.panel-container div.panel-footer nav a {
    display: flex;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
}

/* line 167, ../sass/app.scss */
section.panel-container div.panel-footer nav a i.fa {
    display: inline-block;
    font-size: 1em;
    margin: auto;
    color: black;
}

/* line 174, ../sass/app.scss */
section.panel-container div.panel-footer nav a:hover {
    text-decoration: none;
    background-color: #bdc3c7;
}

/* line 181, ../sass/app.scss */
section.panel-container div.panel-footer p:first-of-type {
    text-align: center;
    font-size: 1em;
}

/* line 185, ../sass/app.scss */
section.panel-container div.panel-footer p:nth-of-type(2) {
    text-align: center;
    font-size: .7em;
}

/* line 192, ../sass/app.scss */
#center {
    position: relative;
    background-color: #c2c2c2;
    background-color: #bdc3c7;
    width: auto;
    margin-left: 200px;
    display: flex;
}

/* line 200, ../sass/app.scss */
#center #content {
    width: 90%;
    height: auto;
    background-color: #E8E8E8;
    margin: auto;
    padding: 30px;
    /*border-radius: 8px;*/
}

/* line 208, ../sass/app.scss */
#center #content h1 {
    font-size: 1.5em;
}

/* line 214, ../sass/app.scss */
#btn_responsive, #btn_panier, header {
    display: none;
}

/* line 218, ../sass/app.scss */
form {
    margin: 50px auto;
}

/* line 221, ../sass/app.scss */
fieldset.form-group {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 80px;
}

/* line 225, ../sass/app.scss */
fieldset.form-group label {
    color: gray;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    margin: 15px auto !important;
}

/* line 231, ../sass/app.scss */
fieldset.form-group input[type=text], fieldset.form-group input[type=email], fieldset.form-group input[type=number], fieldset.form-group select {
    display: block;
    width: 100%;
    padding: 15px;
    height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #efefef;
    border-radius: 3px;
    background-color: #F5F5F5;
    color: #5f656d;
}

/* line 248, ../sass/app.scss */
fieldset.form-group input:hover, fieldset.form-group input:focus {
    border-bottom: 2px solid #BDC3C7;
}
fieldset.form-group > div.alert {
    position: relative;
    margin: 0 auto !important;
}
fieldset.form-group > div.alert > ul {
    list-style: none;
}

/* line 253, ../sass/app.scss */
button[type=submit], input[type=submit] {
    min-width: 20%;
    width: auto;
    height: 50px;
    padding: 15px;
    margin: 20px auto;
}

/* line 262, ../sass/app.scss */
#collection_0_birthdate {
    display: flex;
    flex-direction: row;
}

/* line 266, ../sass/app.scss */
#collection_0_birthdate > select {
    width: 33%;
}

.panel {
    border: 1px solid #bdc3c7;
    padding: 25px;
}

/* line 270, ../sass/app.scss */
.panel-group .panel-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* line 275, ../sass/app.scss */
.panel-group .panel-heading i {
    display: inline-block;
    margin: auto 0 auto;
}

/* line 281, ../sass/app.scss */
a[data-toggle="collapse"] .panel-heading h4, a[data-toggle="collapse"] .panel-heading i {
    color: #000000;
}

/* line 285, ../sass/app.scss */
a[data-toggle="collapse"]:focus, a[data-toggle="collapse"]:hover, a[data-toggle="collapse"]:active {
    text-decoration: none;
}

/* line 289, ../sass/app.scss */
.alert {
    position: relative;
    width: 100%;
    margin: 80px auto !important;
    height: 50px;
}

.badge {
    font-size: 1.8em;
}

/* line 296, ../sass/app.scss */
.panel-title > a {
    display: inline-block;
    width: 100%;
}

/* line 301, ../sass/app.scss */
.panel-title > a:hover, .panel-title > a:focus {
    text-decoration: none;
}

/* line 305, ../sass/app.scss */
.alert {
    position: absolute;
    width: 100%;
    margin: 0 auto 50px auto !important;
    height: 50px;
}

/* line 312, ../sass/app.scss */
.StripeElement {
    background-color: white;
    height: 40px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

/* line 323, ../sass/app.scss */
.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

/* line 327, ../sass/app.scss */
.StripeElement--invalid {
    border-color: #fa755a;
}

/* line 331, ../sass/app.scss */
.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

/* line 335, ../sass/app.scss */
.stripe-button-el {
    background-image: none !important;
    /*background-color: #2b81af;*/
    background-color: #1275ff;
    padding: 10px 15px !important;
}

/* line 342, ../sass/app.scss */
.stripe-button-el span {
    display: block;
    position: relative;
    padding: 0 12px;
    height: 30px;
    line-height: 30px;
    /*background: #1275ff;*/
    background: transparent !important;
    background-image: none !important;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: none !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
