/* line 1, ../sass/responsive.scss */
header {
    display: flex !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: #000000;
    flex-direction: row;
    justify-content: space-between;
    z-index: 9;

    #btn_responsive {
        width: 50px;
        height: 50px;
        background-color: transparent;
        border: none;
        margin: 10px;
        display: flex !important;

        i.fa {
            display: inline-block;
            font-size: 2em;
            color: white;
            margin: auto;
        }
    }

    img {
        height: 40px;
        display: inline-block;
        margin: auto;
    }

    #btn_panier {
        width: 50px;
        height: 50px;
        background-color: transparent;
        border: none;
        margin: 10px;
        display: flex !important;

        i.fa {
            display: inline-block;
            font-size: 2em;
            color: white;
            margin: auto;
        }
    }
}

/* line 48, ../sass/responsive.scss */
section.panel-container {
    position: fixed;
    top: 70px !important;
    left: 100%;
    bottom: 0;
    width: 100% !important;
    background-color: #ffffff;
    height: auto;
    overflow-y: auto;
    flex-direction: column;
    justify-content: flex-start !important;
    z-index: 9999;
    transition: all .25s ease-in-out 0s;
}
/* line 63, ../sass/responsive.scss */
section.panel-container div.panel-header {
    display: none;
}
/** panel-menu **/
/* line 146, ../sass/responsive.scss */
section.panel-container div.panel-body {
    width: 100%;
    height: auto;
    display: flex;
    margin: 15px auto;
}
/* line 152, ../sass/responsive.scss */
section.panel-container div.panel-body nav {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: auto;
}
/* line 160, ../sass/responsive.scss */
section.panel-container div.panel-body nav a {
    display: flex;
    width: 50% !important;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
}
/* line 167, ../sass/responsive.scss */
section.panel-container div.panel-body nav a img {
    display: inline-block;
    margin: auto;
}
/* line 172, ../sass/responsive.scss */
section.panel-container div.panel-body nav a span {
    display: inline-block;
    margin: auto;
    margin-top: -25px;
    color: #000000;
}
/* line 179, ../sass/responsive.scss */
section.panel-container div.panel-body nav a:hover {
    text-decoration: none;
    background-color: #bdc3c7;
}
/* line 183, ../sass/responsive.scss */
section.panel-container div.panel-body nav a.active {
    text-decoration: none;
    background-color: #bdc3c7;
}
/* line 191, ../sass/responsive.scss */
section.panel-container div.panel-footer {
    width: 100%;
    height: auto;
    margin: 0;
}
/* line 196, ../sass/responsive.scss */
section.panel-container div.panel-footer nav {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 15px auto;
}
/* line 204, ../sass/responsive.scss */
section.panel-container div.panel-footer nav a {
    display: flex;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    margin: auto;
}
/* line 212, ../sass/responsive.scss */
section.panel-container div.panel-footer nav a i.fa {
    display: inline-block;
    font-size: 1em;
    margin: auto;
    color: black;
}
/* line 219, ../sass/responsive.scss */
section.panel-container div.panel-footer nav a:hover {
    text-decoration: none;
    background-color: #bdc3c7;
}
/* line 226, ../sass/responsive.scss */
section.panel-container div.panel-footer p:first-of-type {
    text-align: center;
    font-size: 1em;
}
/* line 230, ../sass/responsive.scss */
section.panel-container div.panel-footer p:nth-of-type(2) {
    text-align: center;
    font-size: .7em;
}
/* line 236, ../sass/responsive.scss */
section.panel-container.active {
    left: 0;
    transition: all .25s;
}

/* line 242, ../sass/responsive.scss */
#center {
    margin-top: 70px;
    margin-left: 0 !important;
    background-color: #fff;
}
/* line 246, ../sass/responsive.scss */
#center #content {
    width: 100% !important;
    border-radius: 0 !important;
    padding: 0 15px !important;
    margin: auto !important;
}
/* line 252, ../sass/responsive.scss */
#center #content h1 {
    font-size: 1.2em;
    margin: 0;
    padding: 20px 0;
}

form {
    margin: 25px auto;
}

button[type="submit"], input[type="submit"] {
    min-width: 50%;
    max-width: 90%;
    width: 70%;
    height: 50px;
    padding: 15px;
    margin: 50px auto;
    text-transform: uppercase;
}

/* line 258, ../sass/responsive.scss */
.panier {
    position: fixed;
    top: 55px;
    left: 0;
    right: 0;
    height: auto;
    background-color: white;
    display: none;
    transition: all .5s ease-in-out;
}
/* line 268, ../sass/responsive.scss */
.panier.active {
    display: block !important;
    transition: all .5s ease-in-out;
}

/* line 275, ../sass/responsive.scss */
fieldset.form-group button {
    width: 100% !important;
    height: 40px;
    padding: 10px;
    margin: 15px auto;
}

/* line 282, ../sass/responsive.scss */
#collection_0_birthdate {
    display: flex;
    flex-direction: column !important;
}

/* line 286, ../sass/responsive.scss */
#collection_0_birthdate > select {
    width: 100% !important;
}

@media screen and (max-height: 500px) {
    /* line 291, ../sass/responsive.scss */
    h1 {
        font-size: 1.2em !important;
    }

    /* line 294, ../sass/responsive.scss */
    form {
        margin: 20px auto !important;
    }

    /* line 297, ../sass/responsive.scss */
    section.panel-container div.panel-body nav a {
        width: 33.33333% !important;
        height: 100px !important;
    }
    /* line 301, ../sass/responsive.scss */
    section.panel-container div.panel-body nav a span {
        margin-top: auto !important;
    }
}
