<ol class="breadcrumb">
    <li class="breadcrumb-item" id="menu_index"><a href="{{ path('index') }}">Accueil</a></li>
    <li class="breadcrumb-item" id="menu_informations"><a href="{{ path('informations') }}">Informations</a></li>
    <li class="breadcrumb-item" id="menu_payment"><a href="{{ path('payment') }}">Paiement</a></li>
</ol>