<div class="panel-group" id="accordion_panier" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="accordion_panier">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion_panier" href="#collapse_panier" aria-expanded="true" aria-controls="collapse_panier">
                    PANIER
                </a>
            </h4>
        </div>
        <div id="collapse_panier" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="accordion_panier">
            <div class="panel-body">
                <p>
                    Jour de visite : {{ order.day|date('d/m/Y') }}
                </p>
                <p>
                    Type de billets : {{ order.type|upper }}
                </p>
                <p>
                    Nombre de participants : {{ order.number }}
                </p>
                <p>
                    Votre e-mail : {{ order.email }}
                </p>
            </div>
        </div>
    </div>
</div>