<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Formulaire</h4>
        </div>
        <div class="modal-body">
            <section class="cadre">
                <fieldset class="form-group">
                    {{ form_label(form.firstname) }}
                    {{ form_widget(form.firstname) }}
                    {{ form_errors(form.firstname) }}
                </fieldset>
                <fieldset class="form-group">
                    {{ form_label(form.lastname) }}
                    {{ form_widget(form.lastname) }}
                    {{ form_errors(form.lastname) }}
                </fieldset>
                <fieldset class="form-group">
                    {{ form_label(form.country) }}
                    {{ form_widget(form.country) }}
                    {{ form_errors(form.country) }}
                </fieldset>
                <fieldset class="form-group">
                    {{ form_label(form.birthdate) }}
                    {{ form_widget(form.birthdate) }}
                    {{ form_errors(form.birthdate) }}
                </fieldset>
                <fieldset class="form-group">
                    {{ form_label(form.promotion) }}
                    {{ form_widget(form.promotion) }}
                    {{ form_errors(form.promotion) }}
                </fieldset>
                <p>
                    Il sera nécessaire de présenter sa carte d’étudiant, militaire ou équivalent lors de l’entrée
                </p>
            </section>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Valider</button>
        </div>
    </div>
</div>