<h3>Vos billets</h3>
{% for ticket in tickets %}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ticket_{{ ticket.firstname }}_{{ ticket.lastname }}">
        {{ ticket.firstname|upper }} {{ ticket.lastname|upper }}
    </button><br><br>

    <div class="modal fade" id="ticket_{{ ticket.firstname }}_{{ ticket.lastname }}" tabindex="-1" role="dialog" aria-labelledby="ticket_{{ ticket.firstname }}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="ticket-{{ ticket.firstname }}">TICKET {{ order.type|upper }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Nom complet : {{ ticket.firstname }} {{ ticket.lastname }}</p>
                    <p>Pays : {{ ticket.country }}</p>
                    <p>Date de naissance : {{ ticket.birthdate|date('d/M/y') }}</p>
                    <p>Tarif : {{ ticket.pricing }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endfor %}