
{% for form in form %}
    {% set c = c+1 %}

    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#info_{{ c }}">
        Remplir billet {{ c }}
    </button>

    <div class="modal fade" id="info_{{ c }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        {% include "includes/ticket_form.html.twig" %}
    </div>

{% endfor %}