{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 jumbotron">
                <h2>Nous contacter</h2>
                <p>
                    Téléphone : 02 35 00 00 00
                </p>
                <p>
                    E-mail : contact@louvre.com
                </p>
            </div>
            <div class="col-md-6 jumbotron">
                <h2>Nos horaires</h2>
                <p>
                    Lundi - Vendredi : 8h30 - 19h
                </p>
                <p>
                    Samedi et Dimanche : 9h - 11h et 13h - 18h
                </p>
            </div>
        </div>
    </div>
{% endblock %}
