<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Votre réservation pour le musée du Louvre{% endblock %}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<header class="container text-center">
    <h1 class="page-header">Musée du Louvre</h1>
    <img src="{{ asset('images/logo.png') }}" alt="Musée du Louvre logo" height="50">
    <h3>Email de test</h3>
</header>
<section class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">NOM</th>
            <th scope="col">Prénom</th>
            <th scope="col">Tarif TTC</th>
            <th scope="col">Tarif réduit</th>
        </tr>
        </thead>
        <tbody>
        {% for i in 1..5 %}
            <tr>
                <td>THOMAS</td>
                <td>Louis</td>
                <td>10</td>
                <td>Oui</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
{% block javascripts %}{% endblock %}
</body>
</html>
