<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Billeterie du musée du Louvre : {% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('bower/bootstrap/dist/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('bower/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bower/font-awesome/css/font-awesome.min.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="stylesheet" media="screen and (max-width: 900px)" href="{{ asset('css/responsive.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<header>
    <button id="btn_panier">
        <i class="fa fa-shopping-cart"></i>
    </button>
    <img src="images/logo/logo_temp.jpg" alt="Musée du Louvre, logo">
    <button id="btn_responsive">
        <i class="fa fa-bars"></i>
    </button>
</header>

<section class="panel-container">
    <div class="panel-header">
        <img src="{{ asset('images/logo/logo_temp.jpg') }}" alt="Musée du Louvre, logo">
    </div>
    <div class="panel-body">
        <nav class="menu">
            <a href="{{ path('index') }}">
                <img src="{{ asset('images/reservation/open-book_color.png') }}" alt="Réservation" title="Réservation">
                <span>Réservation</span>
            </a>
            <a href="{{ path('informations') }}">
                <img src="{{ asset('images/informations/informations_color.png') }}" alt="Informations" title="Informations">
                <span>Informations</span>
            </a>
            <a href="{{ path('payment') }}">
                <img src="{{ asset('images/payment/credit-card_color.png') }}" alt="Règlement" title="Règlement">
                <span>Règlement</span>
            </a>
            <hr>
            <a href="{{ path('mentions_legales') }}">
                <img src="{{ asset('images/mentions/text-lines.png') }}" alt="Mentions légales" title="Mentions légales">
                <span>Mentions légales</span>
            </a>
            <a href="{{ path('cgvu') }}">
                <img src="{{ asset('images/cgv/lock.png') }}" alt="Conditions générales de vente et d'utilisation" title="Conditions générales de vente et d'utilisation">
                <span>CGVU</span>
            </a>
            <a href="{{ path('contact') }}">
                <img src="{{ asset('images/contact/email.png') }}" alt="Contact" title="Contact">
                <span>Contact</span>
            </a>
        </nav>
    </div>
    <div class="panel-footer">
        <nav>
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-google-plus"></i></a>
            <a href=""><i class="fa fa-envelope"></i></a>
        </nav>
        <p>Musée du Louvre</p>
        <p>Copyrights &copy; 2018</p>
    </div>
</section>
<section id="center">
    {% include "includes/alerte.html.twig" %}
    <div id="content">
        {% block body %}{% endblock %}
    </div>
</section>

<script src="{{ asset('bower/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('bower/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bower/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}" charset="UTF-8"></script>
<script src="{{ asset('bower/bootstrap-datepicker/js/locales/bootstrap-datepicker.fr.js') }}" charset="UTF-8"></script>
<script src="{{ asset('js/vars.js') }}"></script>
<script src="{{ asset('js/functions.js') }}"></script>
<script src="{{ asset('js/app.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>