{% extends "base.html.twig" %}
{% block title %}Réservez votre visite depuis votre salon !{% endblock %}
{% block body %}
    {% if tickets|length >= 1000 %}
        <h2>Le stock de billets est épuisé pour aujourd'hui.</h2>
    {% else %}
        <h1 class="text-center text-uppercase">Réservez votre visite dès maintenant !</h1>
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="col-md-offset-3 col-md-6 col-sm-12 col-xs-12">
            <fieldset class="form-group text-center">
                {{ form_label(form.day) }}
                {{ form_widget(form.day) }}
                <br>
                {% if form_errors(form.day) %}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ form_errors(form.day) }}
                    </div>
                {% endif %}
            </fieldset>
            <fieldset class="form-group text-center">
                {{ form_label(form.number) }}
                {{ form_widget(form.number) }}
                <br>
                {% if form_errors(form.number) %}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ form_errors(form.number) }}
                    </div>
                {% endif %}
            </fieldset>
            <fieldset class="form-group text-center">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
                {% if form_errors(form.email) %}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ form_errors(form.email) }}
                    </div>
                {% endif %}
            </fieldset>
            <fieldset class="form-group text-center">
                {{ form_label(form.type) }}
                {{ form_widget(form.type) }}
                {% if form_errors(form.type) %}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ form_errors(form.type) }}
                    </div>
                {% endif %}
            </fieldset>
        </div>
        <div class="col-xs-12">
            <fieldset class="form-group">
                <input type="submit" class="btn btn-primary" value="Suivant">
            </fieldset>
        </div>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script>
        var datepicker = $(".datepicker");
        var day = $("#ordering_day");
        datepicker.val('');
        datepicker.datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            todayHighlight: true,
            language: 'fr',
            datesDisabled: ['01/05/2018','01/11/2018','25/12/2018'],
            daysOfWeekDisabled: [0,2],
            daysOfWeekHighlighted: [1,3,4,5,6],
            startDate: 'd'
        });

        datepicker.on('changeDate', function() {
            day.val(
                datepicker.datepicker('getFormattedDate')
            );
        });
        $(".alert").alert();
        $(".panel-body nav a:first-child").addClass('active');
    </script>
{% endblock %}
