{% extends "base.html.twig" %}
{% block body %}
    {% set c = 0 %}
    <section class="col-lg-6">

        <h3 class="text-center">Veuillez remplir le formulaire suivant</h3>

        {{ form_start(form) }}
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            {% for form in form %}
                {% if c < nb %}
                    {% set c = c + 1 %}
                    <div class="panel panel-default">
                        <a href="#collapse{{ c }}" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapse{{ c }}">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    Billet {{ c }}
                                </h4>
                                <i class="fa fa-mouse-pointer panel-toggle"></i>
                            </div>
                        </a>
                        <div id="collapse{{ c }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <section class="cadre">
                                    {% if form.firstname is defined %}
                                        <fieldset class="form-group">
                                            {{ form_label(form.firstname) }}
                                            {{ form_widget(form.firstname) }}
                                            {{ form_errors(form.firstname) }}
                                        </fieldset>
                                    {% endif %}
                                    {% if form.lastname is defined %}
                                        <fieldset class="form-group">
                                            {{ form_label(form.lastname) }}
                                            {{ form_widget(form.lastname) }}
                                            {{ form_errors(form.lastname) }}
                                        </fieldset>
                                    {% endif %}
                                    {% if form.country is defined %}
                                        <fieldset class="form-group">
                                            {{ form_label(form.country) }}
                                            {{ form_widget(form.country) }}
                                            {{ form_errors(form.country) }}
                                        </fieldset>
                                    {% endif %}
                                    {% if form.birthdate is defined %}
                                        <fieldset class="form-group">
                                            {{ form_label(form.birthdate) }}
                                            {{ form_widget(form.birthdate) }}
                                            {{ form_errors(form.birthdate) }}
                                        </fieldset>
                                    {% endif %}
                                    {% if form.promotion is defined %}
                                        <fieldset class="form-group">
                                            {{ form_label(form.promotion) }}
                                            {{ form_widget(form.promotion) }}
                                            {{ form_errors(form.promotion) }}
                                        </fieldset>
                                    {% endif %}
                                    <p>
                                        Il sera nécessaire de présenter sa carte d’étudiant, militaire ou équivalent lors de l’entrée
                                    </p>
                                </section>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <fieldset class="form-group">
            <input type="submit" name="submit" value="Valider" class="btn btn-primary">
        </fieldset>
        {{ form_end(form) }}

    </section>

    <section class="col-lg-4 col-lg-offset-1 panier text-center">
        <h3 class="text-uppercase">mon panier</h3>
        <p>
            <span class="badge badge-secondary">{{ order.number }}</span>
            <img src="{{ asset('images/ticket.png') }}" alt="Ticket">
        </p>
        <p>
            {% if order.type|upper == 'J' %}Journée{% else %}Demi-journée{% endif %} pour le {{ order.day|date('d/m/Y') }}
        </p>
        <p>
            Votre e-mail : {{ order.email }}
        </p>
    </section>
{% endblock %}
{% block javascripts %}
    <script>
        $(".panel-body nav a:nth-child(2)").addClass('active');
        $('.panel-collapse').collapse('hide');
        $(".panel-collapse:first").collapse('show');
    </script>
{% endblock %}