{% extends "base.html.twig" %}
{% block body %}
    <section class="container">
        <section class="col-lg-6 content">
            <h1 class="text-center">Règlement de la commande</h1>
            <form action="{{ path('payment') }}" method="POST" name="payment_form" class="text-center">
                <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_nmDbCCCZ657bFjW52drpuyQv"
                        data-amount="{{ total*100 }}"
                        data-name="Musée du Louvre"
                        data-description="Réservation"
                        data-email="{{ order.email }}"
                        data-image="https://www.magedelight.com/media/catalog/product/p/a/payment-logo_1.png"
                        data-locale="auto"
                        data-zip-code="false"
                        data-currency="eur">
                </script>
            </form>
        </section>
        <section class="col-lg-4">
            <div class="panel-group" id="accordion_panier" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="accordion_panier">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion_panier" href="#collapse_panier" aria-expanded="true" aria-controls="collapse_panier">
                                PANIER
                            </a>
                        </h4>
                    </div>
                    <div id="collapse_panier" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="accordion_panier">
                        <div class="panel-body">
                            <p>
                                <span class="badge badge-secondary">{{ order.number }}</span>
                                <img src="{{ asset('images/ticket.png') }}" alt="Ticket">
                            </p>
                            <p>
                                {% if order.type|upper == 'J' %}Journée{% else %}Demi-journée{% endif %} pour le {{ order.day|date('d/m/Y') }}
                            </p>
                            <p>
                                Votre e-mail : {{ order.email }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}
{% block javascripts %}
    <script>
        $(".stripe-button-el span").html('Payer avec Stripe');
        paymentRequest.on('token', function(ev) {
            // Send the token to your server to charge it!
            fetch('{{ path('payment') }}', {
                method: 'POST',
                body: JSON.stringify({token: ev.token.id})
            })
                .then(function(response) {
                    if (response.ok) {
                        // Report to the browser that the payment was successful, prompting
                        // it to close the browser payment interface.
                        ev.complete('success');
                    } else {
                        // Report to the browser that the payment failed, prompting it to
                        // re-show the payment interface, or show an error message and close
                        // the payment interface.
                        ev.complete('fail');
                    }
                });
        });
    </script>
{% endblock %}