{% extends "base.html.twig" %}
{% block body %}
    <section class="row">
        <div class="col-xs-12 text-center">
            <h1>Votre commande a été validée avec succès !</h1>
            <p>Merci de votre confiance et profitez de votre visite !</p>
        </div>
    </section>
{% endblock %}