<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Votre réservation pour le musée du Louvre{% endblock %}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<header class="container text-center">
    <h1 class="page-header">Musée du Louvre</h1>
    <img src="{{ asset('images/logo.png') }}" alt="Musée du Louvre logo" height="50">
    <h2 class="text-center">Votre réservation pour le {{ order.day|date('d/m/Y') }}</h2>
    <h3>Votre code de réservation : {{ order.code }}</h3>
</header>
<section class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">NOM</th>
            <th scope="col">Prénom</th>
            <th scope="col">Tarif TTC</th>
            <th scope="col">Tarif réduit</th>
        </tr>
        </thead>
        <tbody>
        {% for ticket in order.tickets %}
            <tr>
                <td>{{ ticket.lastname|upper }}</td>
                <td>{{ ticket.firstname|capitalize }}</td>
                <td>{{ ticket.pricing }} €</td>
                <td>
                    {% if  ticket.promotion == 1 %}
                        Oui
                    {% else %}
                        Non
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        <br>
        <tr>
            <td></td>
            <td></td>
            <td>TOTAL TTC</td>
            <td>{{ total }} €</td>
        </tr>
        </tbody>
    </table>
</section>
{% block javascripts %}{% endblock %}
</body>
</html>
